.heading {
    margin:auto;
    width: 20%;
    padding: 20px;

}

.addB{
    float: left;
    position: absolute;
    bottom: 10npx;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid Black;
    padding: 100px;
    width: 98%;
}

.ODO{
    width: 100%;
}