.heading {
    margin:auto;
    padding: 20px;
    text-align: center;

}

.addB{
    float: left;
    position: absolute;
    bottom: 10npx;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid Black;
    padding: 100px;
    width: 98%;
}

.ODO{
    width: 100%;
}


.vehicleDataList {
    font-size: 25px;
    display: block;
    color: white;
    background-color: rgb(82,178,207);
    width: 14em;
    padding: 10px;
    margin: auto;
}

.maintenancePerformed{
    margin:auto;
    padding: 20px;
    text-align: center;
}

.addMaintenance{
    margin-top: 50px;
}

tr:hover {background-color: rgb(82,178,207)}

.deleteAndBack {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px
}
